name: Update Documentation

on:
  workflow_dispatch:

  push:
    branches:
      - main
      - release

jobs:
  dispatch:
    name: Dispatch to docs repo
    runs-on: ubuntu-latest
    steps:
      - name: Trigger docs update
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.PAT }}
          repository: horsenuggets/discord-luau-fork-docs
          event-type: update-ref
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
